{% extends "inicio/encabezado.html" %}

{% block titulo %}Cursos{% endblock %}

{% block contenido %}
<div class="bg-dark text-success p-4 rounded border border-success">

    <h1 class="text-success">Cursos disponibles</h1>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary text-light">Inteligencia Artificial</li>
        <li class="list-group-item bg-secondary text-light">Videojuegos</li>
        <li class="list-group-item bg-secondary text-light">Bases de datos</li>
    </ul>

</div>
{% endblock %}
