{% extends "inicio/encabezado.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="bg-dark text-success p-4 rounded border border-success">
    
    <h1 class="text-success">Bienvenido a los cursos impartidos</h1>
    
    <p class="text-light">
        Nuestro objetivo es mostrarte nuestros cursos disponibles y la cantidad de horas que tenemos en ellos.
    </p>
    
    <p class="text-light">
        Aquí podrás encontrar cursos de temas variados que te pueden interesar. No olvides contactarnos para cualquier duda que tengas y ¡mucha suerte decidiendo tu siguiente curso en línea!
    </p>

</div>
{% endblock %}
